.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}

#map {
  height: 100%;
}

.leaflet-container {
    background: #272B30;
    outline: 0;
}


.ocean {
  fill: #5ae;
}
.green {
  fill: #99e54e;
}
.farms {
  fill: #9fd16e;
}
.blgt1 {
  fill: #888;
}
.blgt2 {
  fill: #666;
}
.blgt3 {
  fill: #333;
}
.blgt4 {
  fill: #222;
}
.mntn1 {
  fill: #b70;
}
.mntn2 {
  fill: #a70;
}
.mntn3 {
  fill: #950;
}
.mntn4 {
  fill: #830;
}
.frstm {
  fill: #7e8800;
}
.frsth {
  fill: #580;
}
.frst1 {
  fill: #379b20;
}
.dsrtm {
  fill: #93882c;
}
.dsrth {
  fill: #c1b451;
}
.dsrtr {
  fill: #d6c964;
}
.dsrt1 {
  fill: #ede076;
}
.mshm1 {
  fill: #37ad7e;
}
.mshm2 {
  fill: #288761;
}