<div class="card feature-list" *ngIf="item">
  <div class="class-info">
  <div class="card">
    <div class="card-body">
      <div [class]="'item-header item-header-'+item.id | lowercase">
        <div class="row">
          <div class="col">
            <h1 [class]="'color-primary' | lowercase">{{item.name}}</h1>
          </div>
          <div class="col">
            <h3 [class]="'pull-right color-'+item.source | lowercase">{{item.source}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4><em>{{getItemInfo(item)}}</em></h4>
          </div>
        </div>
        <div class="row border-bottom-primary">
          <div class="col">
            <p>
              <ng-container *ngIf="item.value">
                <span [class]="'text--'+((item.value/100 > 1) ? 'gp' : (item.value/10 > 1) ? 'sp' : 'cp')">
                  {{((item.value/100 > 1) ? item.value/100+'gp' : (item.value/10 > 1) ? item.value/10+'sp' : item.value+'cp')}}
                </span>
                <ng-container *ngIf="item.value && item.weight">,</ng-container>
              </ng-container>
              <ng-container *ngIf="item.weight">
                {{item.weight + ' lbs.'}}
              </ng-container>
          </div>
          <div class="col">
            <p class="pull-right">
              <ng-container *ngIf="item.dmg1">
                {{getItemDamage(item)}}
              </ng-container>
          </div>
        </div>
        <div class="row"></div>
      <div class="feature-text row">
        <ng-container *ngFor="let entry of item.entries" [ngSwitch]="getEntryType(entry)">
          <div *ngSwitchCase="'list'">
            <ul>
              <li *ngFor="let item of entry.items" [innerHtml]="'\<strong>'+item.name+'\</strong>'+' '+item.entry | linkmaker"> </li>
            </ul>
          </div>
          <div class="col-6" *ngSwitchCase="'table'">
            <ng-container *ngFor="let entry of entry.column" [ngSwitch]="getEntryType(entry)">
              <ul *ngSwitchCase="'list'">
                <li *ngFor="let item of entry.list" [innerHtml]="item | linkmaker"></li>
              </ul>
              <p *ngSwitchDefault [innerHtml]="entry | linkmaker"></p>
            </ng-container>
          </div>
          <span class="col-12 mb-2" *ngSwitchDefault [innerHtml]="entry"></span>
        </ng-container>
      </div>
    </div>
  </div>
</div>