.particle-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 900;
  transform: translate(0, 0, 1);
}

body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.particle {
  $total: 100;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000) * 0.1vw;
    $random-offset: random_range(-100, 100) * 0.1vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(5, 8) / 10;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(25) * 0.1;
    $fall-duration: random_range(5, 15) * 1s;
    $fall-delay: random(30) * -1s;
    $ember-duration: random_range(8, 15) * 1s;
    $ember-yoyo-y: $random-yoyo-time * 150vh;

    .ice &:nth-child(#{$i}) {
      filter: drop-shadow(0 0 10px white);
      opacity: random(100) * 0.01;
      background: rgb(255,255,255);
      transform: translate($random-x, -10px) scale(random(10)*0.1);
      animation: ice-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes ice-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }

    .hell &:nth-child(#{$i}) {
      opacity: random(1000) * 0.1;
      filter: drop-shadow(0 0 50px rgb(255, random(200), 0));
      background: rgb(255, random(200), 0);
      transform: translate($random-x, 100vh) scale($random-scale);
      animation: ember-#{$i} $ember-duration $fall-delay linear infinite;
    }

    @keyframes ember-#{$i} {
      30% {
        transform: translate($random-x-end, 90vh+(random(5)*1vh)) scale(1.5);
      }

      to {
        transform: translate($random-x-end-yoyo, 95vh+-(random(25)*1vh)) scale(0.1);
        background: rgb(155, random(100), 0);
      }
    }

    .rainbow &:nth-child(#{$i}) {
      animation: rainbow-#{$i} 60s infinite;
      filter: drop-shadow(0 0 10px hsl(random(360), 70%, 50%));
      $size: random(10) * 1px;
      opacity: random(100)/100;
      height: $size;
      width: $size;
      animation-delay: -$i * .2s;
      transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1px));
      background: hsl(random(360), 70%, 50%);
    }

    @keyframes rainbow-#{$i} {
      100% {
        transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1px));
        background: hsl(random(360), 100%, 70%);
      }
    }

    .light &:nth-child(#{$i}) {
      animation: light-#{$i} 25s $fall-delay linear infinite;
      filter: drop-shadow(0 0 10px rgb(255, 255, 0));
      $size: random(10) * 1px;
      opacity: random(100)/10;
      height: $size;
      width: $size;
      transform: translate($random-x, -10px);
      background: hsl(random_range(52, 58), 100%, 80%);
    }

    @keyframes light-#{$i} {
      100% {
        transform: translate((random(100) * 1vw), (random(100) * 1vh));
      }
    }
  }
}
