<h1>D&D 5e Beastiary</h1>

<div class="row">
  <div *ngIf="monsters" class="col-md-12 beastiary-table">
    <table id="tbl-beastiary" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th class="beastiary-filter" colspan="1">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input id="beastiary-name-filter" class="form-control" type="search" placeholder="Name">
            </div>
          </th>
          <th class="beastiary-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="beastiary-level-filter" class="form-control" type="search" placeholder="CR">
            </div>
          </th>
          <th class="beastiary-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="beastiary-school-filter" class="form-control" type="search" placeholder="Type">
            </div>
          </th>
          <th class="beastiary-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="beastiary-source-filter" class="form-control" type="search" placeholder="Tags">
            </div>
          </th>
          <th class="beastiary-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="beastiary-classes-filter" class="form-control" type="search" placeholder="Source">
            </div>
          </th>
        </tr>
        <tr>
          <th>Name</th>
          <th>CR</th>
          <th>Type</th>
          <th>Tags</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monster of monsters" (click)="setCurrMonster(monster)" [class.table-active]="currMonster?.id == monster.id">
          <td>{{monster.name}}</td>
          <td class="text-center">{{monster.cr}}</td>
          <td>{{monster.type}}</td>
          <td>{{monster.other}}</td>
          <td [class]="'text-right color-'+monster.source | lowercase" class="text-right">{{monster.source}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-monster *ngIf="currMonster" [monster]="currMonster"></app-monster>