.spell-header {
    margin-bottom: 10px;
}

/* spell colors */
.spell-header-abjuration {
    border-bottom: 3px solid rgb(253, 246, 207);
}
.spell-header-transmutation {
    border-bottom: 3px solid rgb(236, 145, 60);
}
.spell-header-illusion {
    border-bottom: 3px solid rgb(45, 148, 245);
}
.spell-header-necromancy {
    border-bottom: 3px solid rgb(143, 0, 172);
}
.spell-header-evocation {
    border-bottom: 3px solid rgb(241, 90, 90);
}
.spell-header-enchantment {
    border-bottom: 3px solid rgb(255, 152, 250);
}
.spell-header-conjuration {
    border-bottom: 3px solid rgb(113, 230, 102);
}
.spell-header-divination {
    border-bottom: 3px solid rgb(255, 255, 255);
}
