<app-particles *ngIf="particles" [theme]="theme"></app-particles>
<div [ngClass]="'theme-'+theme"><div class="theme-container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="./favicon.ico" width="30" height="30" alt="site favicon">
      <a class="d-inline-block align-top navbar-brand" href="#">EotCC 5e</a>
      <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul  class="navbar-nav mr-auto">
            <li  class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdownChar"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
              Characters<span class="ml-1 badge badge-success">*</span>
              </a>
              <div  class="dropdown-menu"  aria-labelledby="navbarDropdownChar">
                <a  class="dropdown-item" [routerLink]="'/classes'"> Classes </a>
                <a  class="dropdown-item" [routerLink]="'/backgrounds'"> Backgrounds </a>
                <a  class="dropdown-item" [routerLink]="'/ancestries'"> Ancestries </a>
                <a  class="dropdown-item" [routerLink]="'/feats'"> Feats </a>
                <a class="dropdown-item" [routerLink]="'/other-features'"> Misc. Class Features
                  <span class="ml-1 badge badge-success">New</span>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link dropdown-toggle" href="#" id="navdarDropdownDm" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                DM<span class="ml-1 badge badge-success">*</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navdarDropdownDm">
                <a class="dropdown-item" [routerLink]="'/beastiary'"> Beastiary </a>
                <a class="dropdown-item" [routerLink]="'/encounter-builder'"> Encounter Builder<span class="ml-1 badge badge-success">New</span> </a>
                <a class="dropdown-item" [routerLink]="'/items'"> Items </a>
              </div>
            </li>
            <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdownRef"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
              Reference<span class="ml-1 badge badge-success">*</span>
              </a>
              <div  class="dropdown-menu"  aria-labelledby="navbarDropdownRef">
                <a  class="dropdown-item" [routerLink]="'/spells'"> Spells </a>
                <a  class="dropdown-item" [routerLink]="'/map'"> Map</a>
                <a class="dropdown-item" [routerLink]="'/point-buy'"> Point Buy Calculator
                  <span class="ml-1 badge badge-success">New</span>
                </a>
                <a class="dropdown-item" [routerLink]="'/spellbook'"> Spellbook Creator
                  <span class="ml-1 badge badge-warning">WIP</span>
                </a>
              </div>
            </li>
          </ul>
          <ul  class="navbar-nav portal">
            <li class="nav-item dropdown float-right" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link " href="#" id="navbarDropdownPortal" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Planar Portal
              <i class="fa fa-cog" aria-hidden="true"></i><span class="ml-1 badge badge-warning">WIP</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownRef">
                <form class="form-sm m-3">
                  <div class="form-group">
                    <label for="theme"><i class="fa fa-superpowers fa-spin" aria-hidden="true"></i> Destination</label> <span class="ml-1 badge badge-warning">WIP</span>
                    <select class="form-control form-control-sm mx-1" id="theme-select" [(ngModel)]="theme" name="theme" (change)="changeTheme()">
                      <option value="greek">Arkhos</option>
                      <option value="dark">Material Realm</option>
                      <!--
                      <option value="light">Celestia</option>
                      <option value="hell">The Abyss</option>
                      <option value="ice">Plane of Ice</option>
                      <option value="rainbow">Whimsyshire</option>
                      -->
                    </select>
                  </div>
                  <div *ngIf="theme != 'dark'" class="form-group">
                    <div class="form-check form-switch">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="particles" id="particles" name="particles">
                      <label class="form-check-label" for="particles">Use Occultum<sup><a class="text--op" href="/items/occultum-op">?</a></sup></label>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <div  class="container-fluid">
      <router-outlet></router-outlet>
  </div>
</div></div>
<ngx-scrolltop backgroundColor="#62c462" [size]="50" symbolColor="#fff"></ngx-scrolltop>