<nav  class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#">EotCC 5e</a>
    <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul  class="navbar-nav mr-auto">
          <li  class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdownChar"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
            Characters
            </a>
            <div  class="dropdown-menu"  aria-labelledby="navbarDropdownChar">
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/classes'"> Classes </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/backgrounds'"> Backgrounds </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/ancestries'"> Ancestries </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/feats'"> Feats </a>
            </div>
          </li>
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdownRef"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
            Reference
            </a>
            <div  class="dropdown-menu"  aria-labelledby="navbarDropdownRef">
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/conditions'"> Conditions </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/spells'"> Spells </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/campaign'"> Campaign <span className="label label-wip">new, WIP</span></a>
            </div>
          </li>
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a  class="nav-link dropdown-toggle"  href="#"  id="navdarDropdownDm"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
            DM
            </a>
            <div  class="dropdown-menu"  aria-labelledby="navdarDropdownDm">
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/beastiary'"> Beastiary </a>
              <a  class="dropdown-item" data-toggle="collapse" [routerLink]="'/items'"> Items </a>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div  class="container-fluid">
    <router-outlet></router-outlet>
</div>
<ngx-scrolltop backgroundColor="#62c462" symbol="↑ to Top" size="50" symbolColor="#fff"></ngx-scrolltop>