<ng-container *ngIf="feat">
  <div class="col pb-4">
    <div class="card">
      <div class="card-body">
        <div [class]="'feat-header feat-header-'+feat.id | lowercase">
          <div class="row mb-2 border-bottom-primary">
            <div class="col-8">
              <h1 [class]="'color-primary mb-1' | lowercase">{{feat.name}}</h1>
            </div>
            <div class="col-4">
              <h3 [class]="'pull-right color-'+feat.source | lowercase">{{feat.source}}</h3>
            </div>
            <div class="col-12">
              <p class="m-0 mb-2"><em>{{featCategory[feat.category]}} feat <span *ngIf="feat.prerequisite" > (Prerequisite: <span [innerHtml]="feat.prerequisite | linkmaker"></span>)</span></em></p>
            </div>
          </div>
          <div class="col">
            <entry-renderer [list]=feat.text parent=''></entry-renderer>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>