<ng-container *ngIf="feat">
  <div class="col class-info">
    <div class="card mb-4">
      <div class="card-body">
        <div [class]="'feat-header feat-header-'+feat.id | lowercase">
          <div class="row mb-2 border-bottom-primary">
            <div class="col-8">
              <h1 [class]="'color-primary mb-1' | lowercase">{{feat.name}}</h1>
            </div>
            <div class="col-4">
              <h3 [class]="'pull-right color-'+feat.source.replace('+','').replace('-','') | lowercase">{{feat.source}}</h3>
            </div>
            <div *ngIf="feat.prerequisite" class="col-12">
              <p class="m-0 mb-2"><strong>Prerequisite</strong> {{feat.prerequisite}}</p>
            </div>
          </div>
          <div class="col">
            <p class="pb-1 m-0">{{feat.text.description}}</p>
          </div>
          <ul *ngIf="feat.text.benefits">
            <li *ngFor="let text of feat.text.benefits">
                <span [innerHtml]="text |linkmaker"></span>
            </li>
          </ul>
          <div *ngIf="feat.text.extraDescription" class="col">
            <p class="pb-1 m-0">{{feat.text.extraDescription}}</p>
          </div>
          <ul *ngIf="feat.text.extras">
            <li *ngFor="let text of feat.text.extras">
              {{text}}
            </li>
          </ul>
          <div *ngIf="feat.text.multipleSelect" class="col">
            <p class="pb-1 m-0">{{feat.text.multipleSelect}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>