// colors for displaying currency
.text--op {
  color: #ff7cff!important;
  text-shadow: -1px 0 1px rgb(0, 255, 0), 0 1px 1px rgb(0, 255, 255);
}
h1 .text--op {
  text-shadow: -4px -2px 5px rgb(0, 255, 0), -2px 4px 5px orange, 4px 2px 5px rgb(0, 255, 234), 2px -4px 5px rgb(251, 255, 0);
}
.text--pp {
  color: #a1dada;
}
.text--gp {
  color: #c5b100;
}
.text--sp {
  color: #d1e1ff;
}
.text--cp {
  color: #91590f;
}


// speel school colors
.color-abjuration {
  color: rgb(255, 248, 211);
}
.color-transmutation {
  color: rgb(236, 145, 60);
}
.color-illusion {
  color: rgb(45, 148, 245);
}
.color-necromancy {
  color: rgb(115, 0, 138);
}
.color-enchantment {
  color: rgb(255, 105, 248);
}
.color-evocation {
  color: rgb(241, 90, 90);
}
.color-conjuration {
  color: rgb(113, 230, 102);
}
.color-divination {
  color: rgb(200, 200, 200);
}

//sourcebook colors
.color-phb {
  color: rgb(0, 119, 230);
}
.color-xge {
  color: rgb(0, 230, 142);
}
.color-ai {
  color: rgb(0, 139, 7);
}
.color-scag {
  color: rgb(255, 251, 34);
}
.color-wdh {
  color: rgb(212, 210, 50);
}
.color-ua {
  color: rgb(241, 137, 137);
}
.color-toa {
  color: rgb(255, 127, 52);
}
.color-dmg {
  color: rgb(190, 14, 14);
}
.color-ftd {
  color: rgb(190, 14, 14);
}
.color-tce {
  color: rgb(197, 103, 25);
}
.color-erlw {
  color: rgb(124, 12, 12);
}
.color-cos {
  color: rgb(70, 9, 94);
}
.color-ggr {
  color: rgb(119, 223, 255);
}
.color-skt {
  color: rgb(11, 192, 183);
}
.color-gos {
  color: rgb(0, 255, 200);
}
.color-pota {
  color: rgb(0, 255, 200);
}
.color-mot {
  color: rgb(83, 175, 140);
}
.color-mpmm {
  color: rgb(92, 117, 141);
}
.color-brew {
  color: rgb(235, 125, 229);
}
.color-egw {
  color: rgb(141, 115, 141);
}
.color-other {
  color: rgb(141, 115, 141);
}
/* beastiary sources, mostly*/
.color-mm {
  color: rgb(0, 119, 230);
}
.color-vgm {
  color: rgb(0, 230, 142);
}
.color-mtf {
  color: rgb(255, 253, 119);
}
.color-tftyp {
  color: rgb(190, 14, 14);
}
.color-hotdq {
  color: rgb(190, 108, 14);
}
.color-rot {
  color: rgb(190, 108, 14);
}
.color-oota {
  color: rgb(137, 133, 172);
}
.color-cos {
  color: rgb(146, 0, 139);
}