$themes: (
  royal: (
    bgImage: url(royal.png),
    backgroundColor: #171612,
    headerFont: "UnifrakturCook",
    headerFallbackFont: serif,
    background: auto,
    navColor: #b0861d,
    tableActiveColor: #3a3f44,
    navText: #fff,
    cardColor: #32383e,
    textColor: #aaa,
    textLinkColor: #fff,
    textLinkBackground: #272b30,
    linkColor: #dec45b,
    colorPrimary: #c4b262, //most headers on site
    colorSecondary: #a600ff, //feature headers in class, features outline,
    colorTertiary: #ccc, //feature usbheaders for stuff like fighting styles
    headerColor: #aaa,
    classButtonGradient: linear-gradient(#484e55,#3a3f44 60%,#313539),
    classButtonGradientActive: linear-gradient(#101112, #17191b 40%, #1b1e20),
    paginateSelected: rgba(255, 237, 121, 0.514),
    tableHover: rgba(255,255,255,.075)
  ),
  light: (
    backgroundColor: #fff,
    headerFont: "Cinzel Decorative",
    headerFallbackFont: cursive,
    background: auto,
    navColor: #fff59b,
    tableActiveColor: #fff59b,
    navText: #000,
    cardColor: #fff,
    textColor: auto,
    textLinkColor: auto,
    textLinkBackground: inherit,
    linkColor: #0044ff,
    colorPrimary: #0044ff, //most headers on site
    colorSecondary: #c4ba87, //feature headers in class, features outline,
    colorTertiary: #60adff, //feature usbheaders for stuff like fighting styles
    headerColor: #ffed49,
    classButtonGradient: auto,
    classButtonGradientActive: auto,
    paginateSelected: auto,
    tableHover: rgba(0, 0, 0, 0.075)
  ),
  greek: (
    bgImage: url(meander.svg),
    backgroundColor: #FCDEC2,
    headerFont: 'Mate SC',
    headerFallbackFont: serif,
    background: auto,
    navColor: #946B44,
    navText: #fff,
    cardColor: #ebd4c1,
    textColor: auto,
    textLinkColor: #E0A267,
    textLinkBackground: inherit,
    linkColor: #946B44,
    colorPrimary: #E0A267, //most headers on site
    colorSecondary: #e06767, //feature headers in class, features outline, button clicked
    colorTertiary: #67b4e0, //feature usbheaders for stuff like fighting styles
    headerColor: #E0A267,
    classButtonGradient: linear-gradient(#946B44,#805b39 60%,#68482b),
    classButtonGradientActive: linear-gradient(#68482b, #553a20 40%, #462f19),
    paginateSelected: rgba(121, 175, 255, 0.514),
    tableHover: rgba(255, 255, 255, 0.075)
  ),
  dark: (
    backgroundColor: #272b30,
    headerFont: "Segoe UI",
    headerFallbackFont: sans-serif,
    background: auto,
    navColor: #3a3f44,
    tableActiveColor: #3a3f44,
    navText: #fff,
    cardColor: #32383e,
    textColor: #aaa,
    textLinkColor: #fff,
    textLinkBackground: #272b30,
    linkColor: #5bc0de,
    colorPrimary: #62c462, //most headers on site
    colorSecondary: #5bc0de, //feature headers in class, features outline,
    colorTertiary: #ccc, //feature usbheaders for stuff like fighting styles
    headerColor: #aaa,
    classButtonGradient: linear-gradient(#484e55,#3a3f44 60%,#313539),
    classButtonGradientActive: linear-gradient(#101112, #17191b 40%, #1b1e20),
    paginateSelected: rgba(121, 175, 255, 0.514),
    tableHover: rgba(255,255,255,.075)
  ),
  ice: (
    backgroundColor: #2e0505,
    headerFont: 'Iceberg',
    headerFallbackFont: cursive,
    background: linear-gradient(15deg, #140220 0%, #0a0046 74%),
    navColor: #192970,
    navText: #fff,
    cardColor: #35377c,
    textColor: #eee,
    textLinkColor: #c4fff7,
    textLinkBackground: #073942,
    linkColor: #15e2fd,
    colorPrimary: #4671ff, //most headers on site
    colorSecondary: #d294e6, //feature headers in class, features outline,
    colorTertiary: #ffcc80, //feature usbheaders for stuff like fighting styles
    headerColor: linear-gradient(1deg, rgb(217, 251, 255) 0%, rgb(0, 162, 255) 30%, rgb(205, 129, 255) 95%),
    classButtonGradientActive: linear-gradient(315deg, #35338b 0%, #4193a1 74%),
    classButtonGradient: linear-gradient(50deg, #29286b 0%, #316770 74%),
    paginateSelected: rgba(184, 255, 216, 0.514),
    tableHover: rgba(255, 255, 255, .075)),
  rainbow: (
    wholeBgImage: url(shizomi.png),
    backgroundColor: #272b30,
    headerFont: Monoton,
    headerFallbackFont: sans-serif,
    background: linear-gradient(15deg, #140220 0%, #0a0046 74%),
    navColor: #000,
    navText: #fff,
    cardColor: #2b333a,
    textColor: #fff,
    textLinkColor: #00f7ff,
    textLinkBackground: #350b33,
    linkColor: #ffa1f7,
    colorPrimary: #ffc6f5, //most headers on site
    colorSecondary: #9eff9e, //feature headers in class, features outline,
    colorTertiary: #cc92ff, //feature headers for stuff like fighting styles
    headerColor: linear-gradient( 0deg,
      rgb(255, 0, 221) 30%,
      rgb(187, 0, 255) 50%,
      rgb(0, 255, 251) 60%
    ),
    classButtonGradient: linear-gradient( 45deg,
      rgb(151, 0, 131) 20%,
      rgb(89, 0, 144) 40%,
      rgb(0, 96, 160) 70%
    ),
    classButtonGradientActive: linear-gradient( 135deg,
      rgb(255, 0, 221) 20%,
      rgb(128, 0, 255) 40%,
      rgb(0, 153, 255) 70%
    ),
    paginateSelected: rgb(228, 0, 0),
    tableHover: rgba(255,255,255,.075)
  ),
  /*hell: (
    backgroundColor: #2e0505,
    headerFont: 'Mate SC',
    headerFallbackFont: serif,
    background: linear-gradient(#2e0505 80%, #ffbb001c),
    navColor: #531111,
    navText: #fff,
    cardColor: #531111,
    textColor: #ccc,
    textLinkColor: #ffeac4,
    textLinkBackground: #030303,
    linkColor: #fdf915,
    colorPrimary: #ffb546, //most headers on site
    colorSecondary: #ff4949, //feature headers in class, features outline,
    colorTertiary: #fff8b9, //feature usbheaders for stuff like fighting styles
    headerColor: linear-gradient(0deg, rgba(0,29,133,0.75) 0%, rgba(255,166,0,0.85) 30%, rgba(253,29,29,1) 95%),
    classButtonGradientActive: linear-gradient(315deg,  #f5a020 0%, #ac2500 74%),
    classButtonGradient: linear-gradient(50deg,  #b16a00 0%, #5c1400 74%),
    paginateSelected: rgba(255, 121, 121, 0.514),
    tableHover: rgba(255,255,255,.075)
  )*/
);