.card.feature-list {
    margin-bottom:90vh;
}

.feature {
    position:relative;
}

.feature h4 {
    border-bottom: 1px solid;
}

.feature-text.row {
    margin: 0px;
}

.subclass {
    padding-left: 30px;
}

.subclass h4 {
    border-bottom: 1px hidden;
}
