<div class="card" *ngIf="features">
    <div class="card-body">
        <div class="col-lg-12" id="{{feature.name}}" *ngFor="let feature of features">
            <h4 class="text-success">{{feature.title}}</h4>
            <div class="feature-text">
                <ng-container *ngFor="let entry of feature.text" [ngSwitch]="getEntryType(entry)">
                    <ul *ngSwitchCase="'list'">
                        <li *ngFor="let item of entry.list" [innerHtml]="item | linkmaker"></li>
                    </ul>
                    <p *ngSwitchDefault [innerHtml]="entry | linkmaker"></p>
                </ng-container>
            </div>
        </div>
    </div>
</div>