.card.feature-list {
    margin-bottom:90vh;
}

.feature h4 {
    color: #62c462;
    border-bottom: 1px solid;
}

.feature-text.row {
    margin: 0px;
}

.subclass {
    padding-left: 30px;
}

.archetype h4 {
    color: #5bc0de;
}

.subclass h4 {
    color: #5bc0de;
    border-bottom: 1px hidden;
}
