.active {
    box-shadow: 0px 0px 1px 3px #464a4e !important;
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20) !important;
}

.btn-warning.active {
    box-shadow: 0px 0px 1px 3px  #a17940 !important;
    background-image: linear-gradient(#9e5f04, #ad6704 40%, #b76d04) !important;
}

.btn-success.active {
    box-shadow: 0px 0px 1px 3px #609960 !important;
    background-image: linear-gradient(#379337, #3b9e3b 40%, #3ea63e) !important;
}