<div class="archetypes text-center p-3">
    <button class="btn btn-success p-2 m-1" [ngClass]="{'active': this.allSelected }" (click)="selectAll()">
        All
    </button>
    <button class="btn btn-warning p-2 m-1" [ngClass]="{'active': (selectedArchetypes.length == 0 && selectedArchetypes.includes('none'))}" (click)="selectNone()">
        None
    </button>
    <ng-container *ngFor="let archetype of archetypes">
        <button class="btn btn-primary p-2 m-1 btn-archetype" [ngClass]="{'active': selectedArchetypes.includes(archetype.shortName)}" (click)="clickArchetype(archetype.shortName)" [attr.data-name]="archetype.shortName">
            {{archetype.name}}
            (<span [class]="'text-right color-'+archetype.source | lowercase">{{archetype.source}}</span>)
        </button>
    </ng-container>
</div>