<div class="container container-fluid">
  <div class="flex py-3 xs12 md10 offset-md1 lg8 offset-lg2">
    <div class="card" style="height: auto;">
      <div class="container container-fluid">
        <h1 class="text-center mt-1">Point Buy Calculator</h1>

        <div class="layout row">
          <div class="col-4 offset-2">
            <div class="form-group">
              <label for="availPointsUnput">Available Points</label>
              <input [(ngModel)]="totalPoints" (change)="updatePercentage()" type="number" class="form-control" id="totalPoints" aria-describedby="availablePointsHelp">
              <small id="emailHelp" class="form-text text-muted">The default is 27 points. Some games use other numbers.</small>
            </div>
          </div>

          <!-- Avail Points progress bar -->
          <div class="col-4">
            <div class="progress-circle {{abs(getPercentage()) > 50 ? 'over50' : ''}} per{{getPercentage()}}">
              <span>{{totalPoints-pointsSpent}}/{{totalPoints}}</span>
              <div class="left-half-clipper">
                <div class="first50-bar {{getPercentage() < 0 ? 'hidden' : ''}}"></div>
                <div class="neg50-bar {{getPercentage() > 0 ? 'hidden' : ''}}"></div>
                <div class="value-bar {{getPercentage() < 0 ? 'hidden' : ''}}"></div>
                <div class="value-bar2 {{getPercentage() > 0 ? 'hidden' : ''}}"></div>
              </div>
            </div>
          </div>
          <!-- END -->

        </div>

        <!-- Ancestry selectors-->
        <div class="row">
          <div class="col-sm offset-2">
            <div class="form-group">
              <label for="ancestrySelect">Ancestry</label>
              <select class="form-control" id="ancestrySelect" [(ngModel)]="selectedAncestry" (ngModelChange)="setCurrAncestry($event)">
                <option *ngFor="let ancestry of ancestries" [ngValue]="ancestry">
                  {{ancestry.name}} ({{ancestry.ability}})
                </option>
              </select>
            </div>
          </div>
          <div class="col-2"><!-- empty spacing column --></div>
        </div>
        <div *ngIf="this.choose > 0" class="container pb-2">
          <div class="row justify-content-center">
            <div *ngFor="let stat of stats" class="col-1 form-check form-check-inline">
              <input class="form-check-input"[disabled]="selectedAncestry[stat.name] > 0" type="checkbox" id="{{stat.name}}Choose" value="{{stat.name}}" (change)="this.chooseStats($event)">
              <label class="form-check-label" for="{{stat.name}}Choose">{{stat.name | uppercase}}</label>
            </div>
          </div>
        </div>
        <!-- END -->

        <div class="layout row">
          <div class="col center-block">
            <table class="datatable table table-bordered table-striped">
              <thead>
                <tr>
                  <th role="columnheader" scope="col" class="text-center">Stat</th>
                  <th role="columnheader" scope="col" class="text-center">Base</th>
                  <th role="columnheader" scope="col" class="text-center">Racial</th>
                  <th role="columnheader" scope="col" class="text-center">Score</th>
                  <th role="columnheader" scope="col" class="text-center">Modifier</th>
                  <th role="columnheader" scope="col" class="text-center">Point Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stat of stats;" id="dtRow-{{stat.name}}">
                  <th class="text-center">{{stat.name | uppercase}}</th>
                  <td class="text-center">
                    <div class="number-input input-group input-group--dirty input-group--text-field primary--text">
                      <input [(ngModel)]="stat.value" max="15" min="8" value="8" tabindex="0" type="number" id="{{stat.name}}" (change)=calculatePoints()>
                    </div>
                  </td>
                  <td class="text-center" [ngClass]="{'text-success': getAnStat(stat.name) > 0}">{{getAnStat(stat.name)}}</td>
                  <td class="text-center">{{stat.value+getAnStat(stat.name)}}</td>
                  <td class="text-center" [ngClass]="{'text-danger': (getMod(stat.value+getAnStat(stat.name)) < 0), 'text-success': (getMod(stat.value+getAnStat(stat.name)) > 0)}">
                    {{getMod(stat.value+getAnStat(stat.name))}}
                  </td>
                  <td class="text-center">
                    {{pointCost(stat.value)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-ancestry *ngIf="selectedAncestry" [ancestry]="selectedAncestry"></app-ancestry>
</div>