<h1>D&D 5e Spells</h1>

<div class="row">
  <div *ngIf="spells" class="col-md-12 spell-table">
    <table id="tbl-spells" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th class="spell-filter" colspan="1">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input id="spell-name-filter" class="form-control" type="search" placeholder="Name">
            </div>
          </th>
          <th class="spell-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="spell-level-filter" class="form-control" type="search" placeholder="Lvl">
            </div>
          </th>
          <th class="spell-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="spell-school-filter" class="form-control" type="search" placeholder="School">
            </div>
          </th>
          <th class="spell-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="spell-source-filter" class="form-control" type="search" placeholder="Source">
            </div>
          </th>
          <th class="spell-filter" colspan="1">
            <div class="input-group input-group-sm">
              <input id="spell-classes-filter" class="form-control" type="search" placeholder="Classes">
            </div>
          </th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>School</th>
          <th>Classes</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spell of spells" (click)="setCurrSpell(spell)" [class.table-active]="currSpell?.id == spell.id">
          <td>{{spell.name}}</td>
          <td class="text-center">{{spell.level}}</td>
          <td [class]="'color-'+spell.school | lowercase" class="text-center">{{spell.school}}</td>
          <td>{{spell.classes}}</td>
          <td [class]="'text-right color-'+spell.source | lowercase" class="text-right">{{spell.source}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-spell *ngIf="currSpell" [spell]="currSpell"></app-spell>