/* You can add global styles to this file, and also import other style files */
.navbar-nav > li > a {
    color: #ccc;
}
/*center scroll to top better */
.scrolltop-button .symbol-container svg {
  transform: translateY(-15%) !important;
}

.color-primary {
  color: #62c462
}
.border-bottom-primary {
  border-bottom: 2px solid #62c462;;
}
.beastiary-border {
  border-bottom: 2px solid #62c462;;
}

.text--gp {
  color: #c5b100;
}

.table {
  color: #aaa !important;
}

/* spell colors */
.color-abjuration {
  color: rgb(253, 246, 207);
}
.color-transmutation {
  color: rgb(236, 145, 60);
}
.color-illusion {
  color: rgb(45, 148, 245);
}
.color-necromancy {
  color: rgb(143, 0, 172);
}
.color-evocation {
  color: rgb(241, 90, 90);
}
.color-enchantment {
  color: rgb(255, 152, 250);
}
.color-conjuration {
  color: rgb(113, 230, 102);
}
.color-divination {
  color: rgb(255, 255, 255);
}

/* source colors */
.color-phb {
  color: rgb(0, 119, 230);
}
.color-xge {
  color: rgb(0, 230, 142);
}
.color-scag {
  color: rgb(255, 253, 119);
}
.color-ua {
  color: rgb(255, 119, 119);
}
.color-dmg {
  color: rgb(190, 14, 14);
}
.color-ggr {
  color: rgb(119, 255, 248);
}
.color-mot {
  color: rgb(90, 156, 131);
}
.color-brew {
  color: rgb(235, 125, 229);
}

/* beastiary sources, mostly*/
.color-mm {
  color: rgb(0, 119, 230);
}
.color-vgm {
  color: rgb(0, 230, 142);
}
.color-ee {
  color: rgb(255, 253, 119);
}
.color-tftyp {
  color: rgb(190, 14, 14);
}
.color-tod {
  color: rgb(190, 108, 14);
}
.color-oota {
  color: rgb(137, 133, 172);
}
.color-cos {
  color: rgb(146, 0, 139);
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  display: none;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  display: block;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show Surge Table';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide Surge Table';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #5bc0de;
  border-radius: .25em;
}

.carousel h5 {
  font-size: 3em;
  text-shadow: 0 0 8px #000;
}

.carousel p {
  font-size: 1.2em;
  text-shadow: 0 0 8px #000;
}