/*general sytles used on multiple pages
  Mostly color relates, also some stuff for navbars, tables, and map labels*/
.navbar-nav > li > a {
  color: #ccc;
}

/*center scroll to top better */
.scrolltop-button .symbol-container svg {
  -webkit-transform: translateY(-15%) !important;
          transform: translateY(-15%) !important;
}

.color-primary {
  color: #62c462;
}

.border-bottom-primary {
  border-bottom: 2px solid #62c462;
}

.beastiary-border {
  border-bottom: 2px solid #62c462;
}

/* sizing and placement for monster tokens in the beastiary entries */
.mon__wrp-token {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 40%;
  width: auto;
  max-width: 6rem;
  height: auto;
}

.mon__token {
  width: 100%;
  height: 100%;
}

.text--gp {
  color: #c5b100;
}

.text--sp {
  color: #ffffff;
}

.text--cp {
  color: #91590f;
}

.table {
  color: #aaa !important;
}

/* spell colors */
.color-abjuration {
  color: #fdf6cf;
}

.color-transmutation {
  color: #ec913c;
}

.color-illusion {
  color: #2d94f5;
}

.color-necromancy {
  color: #8f00ac;
}

.color-evocation {
  color: #f15a5a;
}

.color-enchantment {
  color: #ff98fa;
}

.color-conjuration {
  color: #71e666;
}

.color-divination {
  color: white;
}

/* source colors */
.color-phb {
  color: #0077e6;
}

.color-xge {
  color: #00e68e;
}

.color-ai {
  color: #008b07;
}

.color-scag {
  color: #fffb22;
}

.color-wdh {
  color: #d4d232;
}

.color-ua {
  color: #f18989;
}

.color-toa {
  color: #ff7f34;
}

.color-dmg {
  color: #be0e0e;
}

.color-dmg {
  color: #be0e0e;
}

.color-tce {
  color: #a24d08;
}

.color-erlw {
  color: #7c0c0c;
}

.color-cos {
  color: #46095e;
}

.color-ggr {
  color: #77dfff;
}

.color-skt {
  color: #0bc0b7;
}

.color-gos {
  color: #00ffc8;
}

.color-pota {
  color: #00ffc8;
}

.color-mot {
  color: #53af8c;
}

.color-brew {
  color: #eb7de5;
}

.color-egw {
  color: #8d738d;
}

.color-other {
  color: #8d738d;
}

/* beastiary sources, mostly*/
.color-mm {
  color: #0077e6;
}

.color-vgm {
  color: #00e68e;
}

.color-mtf {
  color: #fffd77;
}

.color-tftyp {
  color: #be0e0e;
}

.color-hotdq {
  color: #be6c0e;
}

.color-rot {
  color: #be6c0e;
}

.color-oota {
  color: #8985ac;
}

.color-cos {
  color: #92008b;
}

/* specific rules around some hidden very large tables on class pages */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  display: none;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  display: block;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show Surge Table';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide Surge Table';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #5bc0de;
  border-radius: .25em;
}

/* make sure fieature list doesn't ride on top of the navbar */
.features-list {
  z-index: 800 !important;
}

.card-columns {
  -webkit-column-count: 2 !important;
          column-count: 2 !important;
}

/* labels for map stuff, probably better way to do this but it's working for now */
.continent-label {
  font-size: 60px;
  letter-spacing: 6px;
  font-weight: bold;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #000 !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.country-label {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #111 !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.city-label {
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff !important;
  text-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.town-label {
  font-size: 14px;
  opacity: 0;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff !important;
}

.water-label {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent !important;
  border: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #58b4ff !important;
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
}

.leaflet-marker-icon {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */