<ng-container *ngFor="let entry of list" [ngSwitch]="getEntryType(entry)">
    <div *ngSwitchCase="'list'">
        <ul>
            <entry-renderer [list]=entry.items [parent]="'list'"></entry-renderer>
        </ul>
    </div>
    <div *ngSwitchCase="'table'">
        <h4>{{entry.caption}}</h4>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <ng-container *ngFor="let row of entry.colLabels; index as i;">
                        <th class={{entry.colStyles[i]}}>{{row}}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of entry.rows">
                    <td *ngFor="let cell of row" [innerHtml]="cell | linkmaker | sanitizeHtml"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6" *ngSwitchCase="'column'">
        <entry-renderer [list]=entry.column [parent]="''"></entry-renderer>
    </div>
    <div *ngSwitchCase="'entries'">
        <p *ngIf="parent==''" class="pb-0 mb-2">
            <strong>{{entry.name}}. </strong><entry-renderer [list]=entry.entries [parent]="'entries'"></entry-renderer>
        </p>
        <li *ngIf="parent=='list'">
            <strong>{{entry.name}}. </strong><entry-renderer [list]=entry.entries [parent]="'entries'"></entry-renderer>
        </li>
    </div>
    <div *ngSwitchCase="'item'">
        <p *ngIf="parent==''" [innerHtml]="getListItemHtml(entry) | linkmaker | sanitizeHtml"></p>
        <li *ngIf="parent=='list'" [innerHtml]="getListItemHtml(entry) | linkmaker | sanitizeHtml"></li>
    </div>
    <ng-container *ngSwitchDefault>
        <p *ngIf="parent==''" [innerHtml]="entry | linkmaker | sanitizeHtml"></p>
        <span class="pb-0 mb-1" *ngIf="parent=='entries'" [innerHtml]="entry | linkmaker | sanitizeHtml"></span>
        <li *ngIf="parent=='list'" [innerHtml]="entry | linkmaker | sanitizeHtml"></li>
    </ng-container>
</ng-container>