<div *ngIf="currClass">
  <h1>{{currClass.name}}</h1>
  <ul>
  	<li>Desc: {{currClass.description}}</li>
  	<li>HD: 1d{{currClass.hd}}</li>
  	<ng-container *ngFor="let prof of currClass.proficiencies">
  		<li [innerHtml]="prof"></li>
  	</ng-container>
  </ul>
  <div  class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th *ngFor="let header of currClass.levelTable[0]">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let levels of currClass.levelTable | slice: 2; let i = index">
          <td *ngFor="let column of levels">
            <ng-container *ngIf="column == 'features'; else static">
              <ng-container *ngFor="let f of getFeatures(i+1); let last = last">
                <a href="/features/{{f.name}}">{{ f.title }}</a><span *ngIf="!last">, </span>
              </ng-container>
            </ng-container>
            <ng-template #static>
              {{ column }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
