<h1>D&D 5e Classes</h1>
<div class="row">
  <div *ngIf="classes" class="col-md-3 class-table">
    <table id="tbl-classes" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="class-filter" colspan="2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input id="class-name-filter" class="form-control" type="search" placeholder="Filter Class">
              </div>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Src</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes" (click)="setCurrClass(class)" [class.table-active]="currClass?.id == class.id">
            <td>{{class.name}}</td>
            <td>PHB</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-md-9">
    <app-level-table *ngIf="currClass" [class]="currClass"></app-level-table>
  </div>
</div>
<app-class *ngIf="currClass" [class]="currClass"></app-class>
  